.card-container {
    background-color: #f4f1f1;
    padding: 0px 0px 0px 30px;
    border-radius: 42px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    will-change: transform, box-shadow;
    overflow: hidden;
    position: relative;
}

.card-container:hover {
    transform: translateY(-10px);
    /* box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.35); */
}
.image-size{
    max-width: 300px;
    margin-left: 25px;
    border-radius: 0px 32px 32px 0px;
}
@media (max-width: 768px) {
    .image-size {
        margin-left: 0px;
    }
  }