.navbar-styling{
    position: sticky;
    top: 0;
    z-index: 1000;
    
}
.resume-button{
    border: 1px solid black;
    border-radius: 30px;
    padding: 0px 10px;
    
}
.navbar-link{
    color: inherit; 
    text-decoration: none; 
    transition: color 0.4s ease;
}  
  .navbar-link:hover, .navbar-link:focus {
    color: #118a7e;
    outline: none;
  }