.banner {
    background: linear-gradient(-45deg, #ee7752, #e73c7e,#3C79F5, #645CBB,#6C00FF);
    background-size: 400% 400%;
    height:980px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: gradient 12s ease infinite;
  }
  
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }