.banner{
  height: 50vh;
}
.title{
    font-family: 'Selawik', sans-serif;
    color: #7fa99b;
    font-size: 90px;
}
@media (max-width: 576px) {
  .title {
      font-size: 60px;
  }
}
@media (min-width: 576px) {
  .banner {
    height: 100vh;
  }
}
